build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/roi_projector_lib.sln
build/roi_projector_test.vcxproj
build/roi_projector_test.vcxproj.filters
build/roi_projector.vcxproj
build/roi_projector.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-16193e9f331630da57d9.json
build/.cmake/api/v1/reply/cmakeFiles-v1-57932917ea341e706f5d.json
build/.cmake/api/v1/reply/codemodel-v2-fc5051acfc077cf47e69.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2026-01-16T02-22-53-0631.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-fe683b5ac3e274341258.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-fe683b5ac3e274341258.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-fe683b5ac3e274341258.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-fe683b5ac3e274341258.json
build/.cmake/api/v1/reply/target-roi_projector_test-Debug-e3789cd482079d8fa952.json
build/.cmake/api/v1/reply/target-roi_projector_test-MinSizeRel-7aa474069c6a5026d753.json
build/.cmake/api/v1/reply/target-roi_projector_test-Release-772a8263e7b3f622873c.json
build/.cmake/api/v1/reply/target-roi_projector_test-RelWithDebInfo-8110485733c69e8caa6e.json
build/.cmake/api/v1/reply/target-roi_projector-Debug-eb351b4a735e2afbf767.json
build/.cmake/api/v1/reply/target-roi_projector-MinSizeRel-a102df7eb351d3cf12fd.json
build/.cmake/api/v1/reply/target-roi_projector-Release-52b818b70ce755531a84.json
build/.cmake/api/v1/reply/target-roi_projector-RelWithDebInfo-1d44c6906c32a74593e3.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-329dbc66ae0e5c5563bb.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-329dbc66ae0e5c5563bb.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-329dbc66ae0e5c5563bb.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-329dbc66ae0e5c5563bb.json
build/.cmake/api/v1/reply/toolchains-v1-991d70c0aae6fb96e71e.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.6/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.6/CMakeSystem.cmake
build/CMakeFiles/3.31.6/VCTargetsPath.txt
build/CMakeFiles/3.31.6/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.6/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.31.6/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/3.31.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.6/VCTargetsPath/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.6/VCTargetsPath/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/b84ac1184a50f1b2950ee64d2dd04321/generate.stamp.rule
build/Debug/roi_projector_test.exe
build/Debug/roi_projector_test.pdb
build/Debug/roi_projector.lib
build/Debug/roi_projector.pdb
build/roi_projector.dir/Debug/roi_projector.lib.recipe
build/roi_projector.dir/Debug/roi_projector.obj
build/roi_projector.dir/Debug/roi_projector.tlog/CL.command.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/Cl.items.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/CL.read.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/CL.write.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/CustomBuild.command.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/CustomBuild.read.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/CustomBuild.write.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/Lib-link.write.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/Lib.command.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/Lib.read.1.tlog
build/roi_projector.dir/Debug/roi_projector.tlog/roi_projector.lastbuildstate
build/roi_projector_test.dir/Debug/roi_projector_test.exe.recipe
build/roi_projector_test.dir/Debug/roi_projector_test.ilk
build/roi_projector_test.dir/Debug/test_roi_projector.obj
build/roi_projector_test.dir/Debug/vc143.pdb
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/CL.command.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/Cl.items.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/CL.read.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/CL.write.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/CustomBuild.command.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/CustomBuild.read.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/CustomBuild.write.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/link.command.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/link.read.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/link.secondary.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/link.write.1.tlog
build/roi_projector_test.dir/Debug/roi_proj.1FEAF7CB.tlog/roi_projector_test.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.recipe
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/settings.json
__pycache__/calibration.cpython-312.pyc
__pycache__/camera_capture.cpython-312.pyc
__pycache__/ui_tool.cpython-312.pyc
